version: "3.9"

services:
  web:
    build: .
    container_name: django_web
    restart: always
    env_file:
      - .env
    ports:
      - "8000:8000"
    environment:
      - HTTP_PROXY=http://172.17.0.1:7890
      - HTTPS_PROXY=http://172.17.0.1:7890
      - NO_PROXY=localhost,127.0.0.1