asgiref==3.11.1
Django==5.2.11
django-cors-headers==4.9.0
djangorestframework==3.16.1
gunicorn==25.0.1
mysqlclient==2.2.7
packaging==26.0
requests==2.32.3
beautifulsoup4==4.12.3
PyMySQL==1.1.2
sqlparse==0.5.5
Pillow==12.1.0
